*.DS_Store
*.pyc
*.swp
temp/*
_generated/*
prewarm*/*


tags
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.pth

*_1.py
_*.py
_*.ipynb
# test-related
.coverage
.cache
.pytest_cache
.tox
# developer environments
.idea
.vscode




